 
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/logo.css">
  <title>MovieInfo</title>
</head>
<body>
  <div class="main-image-div">
    <img class='logo' src="/static/image/logo.png">
  </div>
  <form action="./searchMovie" method="GET">
    <div class="mx-auto mt-5 search-bar input-group mb-3">
      <input name="input-movie" type="text" class="form-control rounded-pill" placeholder="영화제목을 입력해주세요" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
      </div>
    </div>
  </form>
</body>
</html>